<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

	<bean id="zhoucheng" class="test.springheadannotition.BeanSmaple">
		<property name="url" value="2"></property>	
	</bean>
	
	<bean id="feng" class="test.springheadannotition.BeanCase">
		<constructor-arg name="name" value="feng"></constructor-arg>	
		<constructor-arg name="jdbcUrl" value="2"></constructor-arg>	
	</bean>

</beans>
