/*待办*/
body{
    font-family:"宋体","Microsoft Sans Serif",Verdana,Arial,"simsun","宋体","Microsoft Sans Serif", "Microsoft Tai Le", "Microsoft Uighur";
    font-size:12px;
    min-width: 100%;
  SCROLLBAR-FACE-COLOR: #fcfcfc;
    SCROLLBAR-HIGHLIGHT-COLOR: #6c6c90;
    SCROLLBAR-SHADOW-COLOR: #fcfcfc;
    SCROLLBAR-3DLIGHT-COLOR: #fcfcfc;
    SCROLLBAR-ARROW-COLOR: #240024;
    SCROLLBAR-TRACK-COLOR: #fcfcfc;
    SCROLLBAR-DARKSHADOW-COLOR: #48486c;
    background:url("../../img/qh/bj.jpg") no-repeat;
  filter:"progid:DXImageTransform.Microsoft.AlphaImageLoader(sizingMethod='scale')";
  -moz-background-size:100% 100%;
    background-size:100% 100%;
}
li{
    vertical-align: bottom;
}
a{
    text-decoration: none;
}
a:visited {
 text-decoration: none;
}
a:hover {
 text-decoration: none;
}
a:active {
 text-decoration: none;
}
.head-main{
    width:100%;
    height:54px;
    background:url("../../img/qh/logo.png") no-repeat;
    margin-top:7px;
    margin-bottom:5px;
}


.barnner-div{
    width:960px;
    margin:auto;
}
#barnner-link{
    width:780px;
    float: left;
}
#barnner-link li{
    float:left;
    width:135px;
    height: 41px;
    line-height: 41px;
    text-align: center;
    font-weight: bold;
    color: #000;
    font-family:microsoft Yahei;
    font-size:16px;
    
}
#backBtn{   
    margin-top:8px;
    padding:6px 20px;
}
.main-container{
    width:1050px;
    height:960px;
    margin: 0px auto;
    background:url("") no-repeat  #D8EBEF;
}

.daibancontainer  {
    display: block;
    width:95%;
   
   margin-left:20px;
    border-top : 1px solid #ebf6f8;
}
.daibancontainer li {
    display: block;
    width:100%;
    height: 22px;
   padding-left: 10px;  
    background: url(../../img/qh/dot.jpg) 0px 8px no-repeat;
    vertical-align: bottom; 
}
.daibancontainer li a { 
    float: left;
    width: 205px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color:#00080A;
    
    line-height:22px;
}
.daibancontainer li a:hover {
    color:#f60;
}
.daibancontainer span {
    margin-left: 200px;      
    line-height:22px; 
    height: 22px;
    width:40px;
    text-align:center;  
    display:block;
     float:left;
}
.fifth-right{
    width:250px;
    float:left;
    height:260px;
    margin-left:16px;
    background-color:#D8EBEF;
    }
.main-sixth{
    height:60px;
    width:100%;
    text-align:center;
    }
.main-sixth span{
    line-height:60px;
    font-size:12px;
    height:60px;
    width:100%;
    text-align:center;
    }   