#help_up_button{
  background:url("loushanghelp/help_up.png") !important;
  width:57px;
  height:29px;
   outline:none;
                 
}
#help_add_button{
   background:url("loushanghelp/help_add.png") !important;
   width:57px;
  height:29px;
   outline:none;

}
#help_delete_button{
  background:url("loushanghelp/help_delete.png") !important;
  width:57px;
  height:29px;
   outline:none;

}
#help_down_button{
  background:url("loushanghelp/help_down.png") !important;
  width:57px;
  height:29px;
  outline:none;
}