body{
	font-family:"Î¢ÈíÑÅºÚ","Microsoft YaHei",Verdana,Arial,"simsun","ËÎÌå","Microsoft Sans Serif", "Microsoft Tai Le", "Microsoft Uighur";
	font-size:13px;
}

a {
	text-decoration: none;
	color: #000000;
}

a:hover {
	text-decoration: underline;
	color: #5959FF;
}

div.content_wrap {width: 1024px;}
div.content_wrap div.left{float: left;width: 280px;}
div.content_wrap div.right{float: left;width: 730px;}
div.zTreeDemoBackground {width:250px;height:262px;text-align:left;}

ul.ztree {font-family:"Microsoft YaHei";margin-top:0px;background: #ffffff;width:265px;height:260px;overflow-y:scroll;overflow-x:auto;}

/* ruler */
div.ruler {height:20px; width:220px; background-color:#f0f6e4; margin-bottom: 5px; cursor: pointer}
div.ruler div.cursor {height:20px; width:30px; background-color:#3C6E31; color:white; text-align: right; padding-right: 5px; cursor: pointer}


.main-container {
	width: 960px;
	margin: 5px auto;
	font-family:"Microsoft YaHei";
}

.main-left {
	width: 700px;
	float: left;
}

.main-right {
	width: 250px;
	float: right;
}

.news {
	height: 260px;
}

.news-bar {
	height: 36px;
	background: url(../imgs/titlem1.png) repeat-x;
	margin-left: 10px;
	margin-right: 10px;
}

.news-bar s {
	display: block;
	width: 10px;
	height: 36px;
	background: url(../imgs/titleleft1.png) no-repeat;
	float: left;
	margin-left: -10px;
}

.news-bar b {
	display: block;
	width: 10px;
	height: 36px;
	float: right;
	background: url(../imgs/titleright1.png) no-repeat;
	margin-right: -10px;
}

.news-bar .title {
	height: 28px;
	width:88px;
	float: left;
	margin-top: 5px;
	color: #FFFFFF;
}
.news-bar .title.szyw {
	background: url(../imgs/bsgk.png) no-repeat;
}
.news-bar .title.wdgzt {
	background: url(../imgs/wdgzt.png) no-repeat;
}
.news-bar .title.wdrc {
	background: url(../imgs/wdrc.png) no-repeat;
}
.news-bar .title.wzlj {
	background: url(../imgs/wzlj.png) no-repeat;
}
.news-bar .title.yyxw {
	background: url(../imgs/yyxw.png) no-repeat;
}
.news-bar .title.ztpd {
	background: url(../imgs/ztpd.png) no-repeat;
}
.news-bar .title.yczz {
	background: url(../imgs/dzzz.png) no-repeat;
}
.news-bar .title span{
	display:none;
}

.news-bar .cheng {
	width: 78px;
	height: 36px;
	background: url(../imgs/cheng.png) 0 50% no-repeat;
	float: right;
}

.news-bar .more {
	width: 55px;
	height: 19px;
	background: url(../imgs/morewhite.png) no-repeat;
	float: right;
	margin-top: 8px;
	margin-right: 5px;
	line-height: 21px;
	text-align: center;
	font-size: 12px;
}

.news-bar #toSelfWorkPlat {
	width: 90px;
	height: 19px;
	background: url(../imgs/morewhite2.png) repeat-x;
	float: right;
	margin-top: 8px;
	margin-right: 5px;
	line-height: 21px;
	text-align: center;
	font-size: 12px;
}
.picnews-container {
	width: 270px;
	height: 220px;
	float: left;
	margin-top: 5px;
	background: #CCCCCC;
	overflow: hidden;
}

.wordnews-container {
	width: 415px;
	height: 220px;
	float: right;
	margin-top: 0px;
}
#marking {
    float:left;
    font-weight: bold;
	color:#52AADE;
}
#slider {
	width: 260px;
	height: 215px;
	margin-top: 5px;
	margin-left: 5px;
}

.main-new-container {
	
}

a.main-new-title {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #3996cb;
	overflow:hidden; 
	text-overflow:ellipsis; 
	white-space:nowrap;

}

a.main-new-title:hover {
	text-decoration: underline;
	color: #5959FF;
}

a.main-new-content {
	font-size: 13px;
	display: block;
	height: 55px;
	margin-top: 10px;
	line-height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-bottom: 10px;
	border-bottom: #000000 1px dotted;
}

.main-new-content p {
	text-indent: 2em;
}

.news-list-container {
	margin-top: 5px;
	height: 198px;
	overflow: hidden;
}
.notice-list-container {
	margin-top: 5px;
	height: 198px;
	overflow: hidden;
}

#wordNewsMarquee{
	height: 20px;
	padding: 0;
	overflow: hidden;

}

.news-list-container li {
	display: block;
	height: 22px;
	padding-left: 10px;
	background: url(../imgs/dot.jpg) 0px 8px no-repeat;
	vertical-align: bottom;
}

.news-list-container li a {
	display: block;
	float: left;
	width: 320px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	height: 22px;
	line-height:22px;
}

.news-list-container li span {
	float: right;
	font-size: 12px;
	height: 22px;
	line-height:22px;
}
.politics-list-container li {
	display: block;
	height: 22px;
	padding-left: 10px;
	background: url(../imgs/dot.jpg) 0px 8px no-repeat;
	vertical-align: bottom;
}

.politics-list-container li a {
	display: block;
	float: left;
	width: 210px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	height: 22px;
	line-height:22px;
}

.politics-list-container li span {
	float: right;
	font-size: 12px;
	height: 22px;
	line-height:22px;
	margin-right:5px;
}
.notice-list-container li {
	display: block;
	height: 22px;
	padding-left: 10px;
	background: url(../imgs/dot.jpg) 0px 8px no-repeat;
}

.notice-list-container li a {
	display: block;
	float: left;
	width: 330px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	height: 22px;
	line-height:22px;
}

.notice-list-container li span {
	float: right;
	font-size: 12px;
	height: 22px;
	line-height:22px;
}
.news-list-container-marquee {
	padding-top: 5px;
	height: 200px;
	overflow: hidden;
}
.news-list-container-marquee li {
	display: block;
	height: 22px;
	padding-left: 10px;

	vertical-align: bottom;
}

.news-list-container-marquee li a {
	display: block;
	float: left;
	width: 320px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.news-list-container-marquee li span {
	float: right;
	font-size: 12px;
}
.tools-bar {
	height: 100px;
	margin-top: 3px;
	margin-left: 7px;
	margin-right: 9px;
        overflow:hidden;
	background: url(../imgs/bbuttonm.png) repeat-x;
}

.tools-bar .tools-bar-left {
	width: 7px;
	height: 100px;
	background: url(../imgs/bbuttonleft.png) no-repeat;
	float: left;
	margin-left: -7px;
}

.tools-bar .tools-bar-right {
	width: 9px;
	height: 100px;
	background: url(../imgs/bbuttonright.png) no-repeat;
	float: right;
	margin-right: -9px;
}

.tools-container li {
	display: block;
	width: 68px;
	height: 88px;
	float: left;
	margin-left: 17px;
	margin-top: 5px;
	position: relative;
}

.tools-container li a {
	position: absolute;
	display: block;
	width: 100%;
	top: 0px;
	line-height: 20px;
	text-align: center;
	padding-top: 70px;
}

.tools-container li.tool1 {
	background: url(../imgs/tool-1.png) center 5px no-repeat;
}

.tools-container li.tool2 {
	background: url(../imgs/tool-7.jpg) center 5px no-repeat;
}

.tools-container li.tool3 {
	background: url(../imgs/tool-8.jpg) center 5px no-repeat;
}

.tools-container li.tool4 {
	background: url(../imgs/tool-9.jpg) center 5px no-repeat;
}

.tools-container li.tool5 {
	background: url(../imgs/tool-5.png) center 5px no-repeat;
}

.tools-container li.tool6 {
	background: url(../imgs/tool-6.png) center 5px no-repeat;
}
.tools-container li.tool7 {
	background: url(../imgs/tool-10.png) center 5px no-repeat;
}
.tools-container li.tool8 {
	background: url(../imgs/tool-11.png) center 5px no-repeat;
}
.tools-container li.tool9 {
	background: url(../imgs/tool-101.png) center 5px no-repeat;
}
.tools-container li.tool19 {
	background: url(../imgs/tool_19_xinxi.png) center 5px no-repeat;
}
.tools-container li.tool20 {
	background: url(../imgs/tool_20_daiban.png) center 5px no-repeat;
}
.tools-container li.tool17 {
	background: url(../imgs/tool_17_jiaqi.png) center 5px no-repeat;
}
.tools-container li.tool18 {
	background: url(../imgs/tool_18_jixiao.png) center 5px no-repeat;
}
.tools-container li.tool16 {
	background: url(../imgs/tool_16_peixun.png) center 5px no-repeat;
}
.tools-container li.tool21 {
	background: url(../imgs/tool-21.png) center 5px no-repeat;
}
.tools-container li.tool22 {
	background: url(../imgs/tool-22.png) center 5px no-repeat;
}
.tools-container li.tool23 {
	background: url(../imgs/tool-23.png) center 5px no-repeat;
}
.sub-left {
	width: 270px;
	float: left;
}
.List2 li {
	display: block;
	width: 68px;
	height: 88px;
	float: left;
	margin-left: 17px;
	margin-top: 5px;
	position: relative;
}

.List2 li a {
	position: absolute;
	display: block;
	width: 100%;
	top: 0px;
	line-height: 20px;
	text-align: center;
	padding-top: 70px; 
}

.List2 li.tool1 {
	background: url(../imgs/tool-1.png) center 5px no-repeat;
}

.List2 li.tool2 {
	background: url(../imgs/tool-7.jpg) center 5px no-repeat;
}

.List2 li.tool3 {
	background: url(../imgs/tool-8.jpg) center 5px no-repeat;
}

.List2 li.tool4 {
	background: url(../imgs/tool-9.jpg) center 5px no-repeat;
}

.List2 li.tool5 {
	background: url(../imgs/tool-5.png) center 5px no-repeat;
}

.List2 li.tool6 {
	background: url(../imgs/tool-6.png) center 5px no-repeat;
}
.List2 li.tool7 {
	background: url(../imgs/tool-10.png) center 5px no-repeat;
}
.List2 li.tool8 {
	background: url(../imgs/tool-11.png) center 5px no-repeat;
}
.List2 li.tool9 {
	background: url(../imgs/tool-101.png) center 5px no-repeat;
}



.List2 li.tool19 {
	background: url(../imgs/tool_19_xinxi.png) center 5px no-repeat;
}
.List2 li.tool20 {
	background: url(../imgs/tool_20_daiban.png) center 5px no-repeat;
}
.List2 li.tool17 {
	background: url(../imgs/tool_17_jiaqi.png) center 5px no-repeat;
}
.List2 li.tool18 {
	background: url(../imgs/tool_18_jixiao.png) center 5px no-repeat;
}
.List2 li.tool16 {
	background: url(../imgs/tool_16_peixun.png) center 5px no-repeat;
}
.List2 li.tool21 {
	background: url(../imgs/tool-21.png) center 5px no-repeat;
}
.List2 li.tool22 {
	background: url(../imgs/tool-22.png) center 5px no-repeat;
}


.sub-right {
	width: 420px;
	float: right;
}

.sub-left-bar {
	margin-top: 5px;
	height: 33px;
	background: url(../imgs/title2.png) repeat-x;
}

.sub-left-bar .title {
	width: 100px;
	float: left;
	margin-left: 10px;
	color: #FFF;
	line-height: 33px;
}

.sub-left-bar .more {
	width: 55px;
	height: 19px;
	background: url(../imgs/morewhite.png) no-repeat;
	float: right;
	margin-top: 8px;
	margin-right: 5px;
	line-height: 21px;
	text-align: center;
	font-size: 12px;
}

.sub-left-bar .cheng {
	width: 78px;
	height: 33px;
	background: url(../imgs/cheng.png) -5px no-repeat;
	float: right;
}

.sub-left-content {
	padding-bottom: 0px;
	border: #CCCCCC 1px solid;
}

.sub-right-bar {
	height: 33px;
	background: url(../imgs/whitem.jpg) repeat-x;
	margin-top: 0px;
}

.sub-right-bar .title {
	width: 93px;
	height: 30px;
	float: left;
	margin-top: 3px;
	margin-left: 5px;
}

.sub-right-bar .title.active {
	background: url(../imgs/whitewenzibj.jpg) no-repeat;
}

.sub-right-bar .title:hover {
	background: url(../imgs/whitewenzibj.jpg) no-repeat;
	cursor: pointer;
}

.sub-right-bar span {
	display: block;
	line-height: 35px;
	text-align: center;
	color: #3996cb;
}

.sub-right-bar .more {
	width: 46px;
	height: 21px;
	background: url(../imgs/moregreen.png) no-repeat;
	float: right;
	margin-top: 8px;
	margin-right: 5px;
	line-height: 21px;
	text-align: center;
	font-size: 12px;
}

.sub-right-bar .more a {
	color: #FFF;
}

.sub-right-bar .more a:hover {
	color: #FFA64D;
}

.main-right-box {
	background: url(../imgs/contentbackground.jpg) repeat-x;
	BORDER-BOTTOM: #f2f2f2 1px solid; 
	BORDER-LEFT: #f2f2f2 1px solid; 
	BORDER-RIGHT: #f2f2f2 1px solid;
}

.main-right-box.haveborder {
	border: #CCCCCC 1px solid;
}

.main-right-box #selfWorkPlatform-top {
	BACKGROUND: url(../imgs/selfWorkPlatformBackground.png) repeat-x; 
	HEIGHT: 74px;
}
.main-right-box #selfWorkPlatform-middle {
	BORDER-BOTTOM: #f2f2f2 1px solid; 
	HEIGHT: 77px;
}
.main-right-box #selfWorkPlatform-bottom {
	HEIGHT: 72px;
}
.main-right-box #selfHeadImg {
	WIDTH: 85px; 
	FLOAT: left; 
	HEIGHT: 74px;
	cursor:pointer;
}
.main-right-box #selfInformation {
	WIDTH: 155px;
	FLOAT: right;
	HEIGHT: 74px;
}
.main-right-box #selfName P {
	POSITION: relative; 
	MARGIN-TOP: 10px;
	FONT-FAMILY: "Î¢ÈíÑÅºÚ", "Microsoft YaHei", Verdana, Arial, "simsun", "ËÎÌå", "Microsoft Sans Serif", "Microsoft Tai Le", "Microsoft Uighur"; 
	COLOR: white;
	FONT-SIZE: 14px; 
	FONT-WEIGHT: bold;
}
.main-right-box #selfDepart P {
	POSITION: relative;
	MARGIN-TOP: 10px; 
	FONT-FAMILY: "Î¢ÈíÑÅºÚ", "Microsoft YaHei", Verdana, Arial, "simsun", "ËÎÌå", "Microsoft Sans Serif", "Microsoft Tai Le", "Microsoft Uighur"; 
	COLOR: white;
	FONT-SIZE: 12px;
}
.main-right-box #selfimg {
	POSITION: relative;
	MARGIN-TOP: 7px; 
	WIDTH: 60px;
	HEIGHT: 60px;
	MARGIN-LEFT: 17px;
}
.main-right-box #selfWorkPlatform-middle .selfPlatformMiddle {
	MARGIN: 10px 0px 0px 5px; 
	WIDTH: 77px; 
	FLOAT: left; 
	HEIGHT: 66px;
}
.main-right-box #selfWorkPlatform-middle .center-img {
	TEXT-ALIGN: center; 
	MARGIN-TOP: 5px; 
	WIDTH: 82px;
	HEIGHT: 30px;
	CURSOR: default;
}
.main-right-box #selfWorkPlatform-middle P {
	TEXT-ALIGN: center; 
	LINE-HEIGHT: 10px;
	WIDTH: 82px; 
	FONT-FAMILY: "Î¢ÈíÑÅºÚ", "Microsoft YaHei", Verdana, Arial, "simsun", "ËÎÌå", "Microsoft Sans Serif", "Microsoft Tai Le", "Microsoft Uighur";
	FONT-SIZE: 12px; 
	CURSOR: pointer;
}
.main-right-box #myNetDisk #diskImg {
	MARGIN-TOP: 20px;
	WIDTH: 40px; 
	BACKGROUND: url(../imgs/disk.png) no-repeat; 
	FLOAT: left;
	HEIGHT: 50px;
	MARGIN-LEFT: 10px
}
.main-right-box #myNetDisk #diskInfo {
	WIDTH: 170px;
	FLOAT: left; 
	HEIGHT: 65px; 
	MARGIN-LEFT: 10px;
}
.main-right-box #diskSpace {
	MARGIN-TOP: 20px;
	WIDTH: 170px; 
	BACKGROUND: url(../imgs/maxdiskbj.png) no-repeat;
	HEIGHT: 15px; 
	MARGIN-LEFT: 10px;
}
.main-right-box #diskBefore {
	WIDTH: 5px;
	BACKGROUND: url(../imgs/forward.png) no-repeat;
	FLOAT: left;
	HEIGHT: 10px;
}
.main-right-box #diskGotSpace {
	BACKGROUND-COLOR: #6ed9af; 
	WIDTH: 0%; 
	FLOAT: left;
	HEIGHT: 10px;
}
.main-right-box #diskAfter {
	WIDTH: 5px;
	BACKGROUND: url(../imgs/after.png) no-repeat; 
	FLOAT: left;
	HEIGHT: 10px;
}
.main-right-box #diskNum  {
	MARGIN-TOP: 2px; 
	WIDTH: 120px; 
	FONT-FAMILY: Microsoft Yahei; 
	FLOAT: left; 
	HEIGHT: 18px;
	MARGIN-LEFT: 10px;
}
#daiban .today {
	height: 60px;
	margin-left: 10px;
	margin-right: 10px;
	border-bottom: #CCC 1px dotted;
}

#daiban .today .data {
	margin-top: 5px;
	display: block;
	float: left;
	font-size: 12px;
}

#daiban .today .nongli {
	margin-top: 5px;
	display: block;
	float: right;
	font-size: 12px;
}

#daiban .today #weather {
	margin-top: 10px;
	display: block;
	float: left;
	font-size: 12px;
}

#daiban .content {
	padding: 10px;
}

#daiban .tab {
	width: 150px;
	height: 26px;
	background: url(../imgs/daiban-btnfornew.png) no-repeat;
}
#daiban .tabfornew{
	width: 150px;
	height: 26px;
	background: url(../imgs/daiban-btnfornew.png) no-repeat;
}

#daiban .tab-btn {
	width: 33px;
	height: 17px;
	float: left;
	margin-top: 5px;
	margin-left: 7px;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	color: #FFF;;
}

#daiban .tab-btn:hover {
	background: #FFF;
	color: #000;
}

#daiban .tab-btn.active {
	background: #FFF;
	color: #000;
}

#daiban .spe {
	width: 1px;
	height: 17px;
	line-height: 15px;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
	color: #FFF;
}

.daiban-list {
	margin-top: 10px;
	height: 110px;
}
.daiban-list .daiban-item {
	display: block;
	height: 20px;
	background: url(../imgs/xarrow.png) 0 5px no-repeat;
	padding-left: 10px;
	line-height: 20px;
	vertical-align: bottom;
}
#more-daiban-list .daiban-item {
	display: block;
	height: 20px;
	background: url(../imgs/xarrow.png) 0 5px no-repeat;
	padding-left: 10px;
	line-height: 20px;
}
.daiban-item-content {
	display: block;
	float: left;
	width: 170px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}
.daiban-item-content-more {
	display: block;
	float: left;
	width: 400px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
	max-height: 300px;
}
.daiban-item-btn {
	float: right;
	color: #3996cb;
}

.search-tab-line {
	width: 130px;
	height: 3px;
	background: url(../imgs/linem.png) repeat-x;
	margin: 35px auto;
	position: relative;
}

.search-tab-line s {
	display: block;
	width: 47px;
	height: 3px;
	background: url(../imgs/lineleft.png) no-repeat;
	margin-left: -47px;
	float: left;
}

.search-tab-line b {
	display: block;
	width: 47px;
	height: 3px;
	background: url(../imgs/lineright.png) no-repeat;
	margin-right: -47px;
	float: right;
}

.search-tab-btn {
	width: 71px;
	height: 23px;
	background: url(../imgs/label2.png) no-repeat;
	position: absolute;
	line-height: 23px;
	text-align: center;
	color: #3996cb;
}

.search-tab-btn:hover {
	cursor: pointer;
}

.search-tab-btn.active {
	background: url(../imgs/label1.png) no-repeat;
	color: #FFFFFF;
}

#mysit.search-tab-btn {
	left: -10px;
	top: -22px;
}

#dateSit.search-tab-btn {
	left: 65px;
	top: -22px;
}

.search-box {
	margin-top: -20px;
	margin-left: 16px;
}

.search-box #search-btn {
	margin-left: 10px;
}

#mail .title {
	margin: 5px;
	color: #3996cb;
}

#mail .mail-num {
	height: 34px;
}

.mail-num-item {
	height: 34px;
	float: left;
	margin-left: 20px;
	padding-left: 40px;
	line-height: 34px;
}

#unread.mail-num-item {
	background: url(../imgs/mail1.png) no-repeat;
}

#readed.mail-num-item {
	background: url(../imgs/mail2.png) no-repeat;
}

.mail-num-item span#unreadnum {
	font-weight: bold;
}

.mail-list {
	display: block;
	width: 100%;
	padding-top: 10px;
	padding-left: 10px;
}

.mail-list-item {
	display: block;
	padding-left: 20px;
	background: url(../imgs/mailtubiao2.png) 0 2px no-repeat;
	width: 210px;
	line-height: 20px;
	border-bottom: #CCCCCC 1px dotted;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

#mail .more {
	float: right;
	margin-top: 10px;
	margin-right: 10px;
	cursor: pointer;
}

.subject-container {
	width: 100%;
	float: left;
	margin-top: 5px;
}

.subject-container .title-bar {
	height: 33px;
	background: url("../imgs/title2.png") repeat-x;
}

.subject-container .subjects {
	height: 60px;
	border: #CCCCCC 1px solid;
}

.sitlink {
	display: block;
	height: 36px;
	width: 200px;
	background: url(../imgs/buttonm.png) repeat-x;
	margin-top: 10px;
	margin-left: 30px;
}

.sitlink s {
	display: block;
	width: 5px;
	height: 36px;
	background: url(../imgs/buttonright.png) no-repeat;
	float: left;
	margin-left: -5px;
}

.sitlink b {
	display: block;
	width: 6px;
	height: 36px;
	background: url(../imgs/buttonleft.png) no-repeat;
	float: right;
	margin-right: -6px;
}

.sitlink .arrow {
	display: block;
	width: 21px;
	height: 13px;
	background: url(../imgs/leftarrow.png) no-repeat;
	float: right;
	margin-right: 20px;
	margin-top: 10px;
}

.sitlink .text {
	line-height: 36px;
	float: left;
	letter-spacing: 4px;
	margin-left: 5px;
	cursor: pointer;
}
 .maindiv{
 width:300px;
 }
 .sitlinkborder1{
 background-image:url(../imgs/border1.png);
 width:18px;
 height:19px;
 }
 .sitlinkborder2{
 background:url(../imgs/border2.png) repeat-x;
 height:19px;
 }
 .sitlinkborder3{
 background-image:url(../imgs/border3.png);
 width:18px;
 height:19px;
 } 
 .sitlinkborder4{
 background:url(../imgs/border4.png) repeat-y;
 width:18px;
 }
 .sitlinkborder5{
 background:#fffff;
 } 
 .sitlinkborder6{
 background:url(../imgs/border5.png) repeat-y;
 width:18px;
 } 
 .sitlinkborder7{
 background-image:url(../imgs/border6.png);
 width:18px;
 height:19px;

 } 
 .sitlinkborder8{
 background:url(../imgs/border7.png) repeat-x;
 height:19px;
 }
 .sitlinkborder9{
 background-image:url(../imgs/border8.png);
 width:18px;
 height:19px;

 }
 .sitlinkline div{
 float:left;
 border:0px;
 }
.hysitlink{
POSITION: absolute;
display:none;
top:0px;
left:150px;
width: 300px;
background: #ffffff;
}
.hysitborder2,.hysitborder5,.hysitborder8{
 width: 264px;
}
.hysitborder4,.hysitborder6{
 height: 100px;
}
.jcsitlink{
POSITION: absolute;
display:none;
top:-130px;
left:150px;
width: 820px;
background: #ffffff;
}
.jcsitborder2,.jcsitborder5,.jcsitborder8{
 width: 780px;
}
.jcsitborder4,.jcsitborder6{
 height: 250px;
}
.daibanborder2,.daibanborder5,.daibanborder8{
 width: 500px; 
}
.daibanborder4,.daibanborder6{
 height: 300px;
}
.contact-title {
	padding: 5px;
	color: #3996cb;
}

#contact-tree {
	height: 412px;
	border: #CCCCCC 1px solid;
	overflow: auto;
}
.infiniteCarousel {
	width: 960px;
	position: relative;
}

.infiniteCarousel .wrapper {
	width: 832px;
	/* .infiniteCarousel width - (.wrapper margin-left + .wrapper margin-right) */
	overflow: auto;
	height: 48px;
	position: absolute;
	left: 60px;
	top: 10px;
}

.infiniteCarousel ul a img {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.infiniteCarousel .wrapper ul {
	width: 812px; /* single item * n */
	list-style-image: none;
	list-style-position: outside;
	list-style-type: none;
	margin: 0;
	padding: 0;
	position: absolute;
	top: 0;
}

.infiniteCarousel ul li {
	display: block;
	float: left;
	height: 48px;
	width: 208px;
}

.infiniteCarousel ul li img {
	-webkit-transition: border-color 400ms;
}

.infiniteCarousel ul:hover li img {
	border-color: #000;
}

.infiniteCarousel ul:hover li:hover img {
	border-color: #333;
}

.infiniteCarousel ul li a img {
	display: block;
}

.infiniteCarousel ul li span {
	display: block;
	line-height: 20px;
	text-align: center;
}

.infiniteCarousel .arrow {
	display: block;
	height: 36px;
	width: 37px;
	background: url(../imgs/arrow.png) no-repeat 0 0;
	text-indent: -999px;
	position: absolute;
	top: 17px;
	cursor: pointer;
	outline: 0;
}

.infiniteCarousel .forward {
	background-position: 0 0;
	right: 2px;
}

.infiniteCarousel .back {
	background-position: 0 -72px;
	left: 2px;
}

.infiniteCarousel .forward:hover {
	background-position: 0 -36px;
}

.infiniteCarousel .back:hover {
	background-position: 0 -108px;
}
.footer{
	font-size:12px;
	width:960px;
	height:64px;
	margin:0 auto;
	background:url(../imgs/di.jpg) no-repeat;
	text-align:center;
	line-height:64px;
}

.s-mod-set-view {
	BACKGROUND-IMAGE: url(../imgs/spis_c5238213.png); OUTLINE-STYLE: none; BACKGROUND-REPEAT: no-repeat
}
.s-mod-set-view {
	MARGIN: 5px 4px 0px 0px; WIDTH: 22px; FLOAT: right; HEIGHT: 20px; FONT-SIZE: 1px; CURSOR: pointer; -moz-user-select: none; -webkit-user-select: none
}
.s-mod-set-view {
	BACKGROUND-IMAGE: url(../imgs/setting.png);
}
.s-mod-set-view:hover {
	BACKGROUND-IMAGE: url(../imgs/spis_c5238213.png);
	BACKGROUND-POSITION: -46px -172px
}
 #rssHear{
 	background-image:url(../imgs/rssHear.png);
	width:246px;
	height:54px;
 }
  #rssHear .left{
  position:relative;
  top:20px;
  left:20px;
  width:16px;
  height:16px;
 }
   #rssHear .rigth{
   position:relative;
   top:22px;
   left:50px;
   text-align:left;
   font-size:13px;
   width:180px;
	font-family:"Î¢ÈíÑÅºÚ","Microsoft YaHei",Verdana,Arial,"simsun","ËÎÌå","Microsoft Sans Serif", "Microsoft Tai Le", "Microsoft Uighur";
	font-size:13px;
 }
 #rssMin{
 	background:url(../imgs/rssMin.png) repeat-y;
	font-family:"Î¢ÈíÑÅºÚ","Microsoft YaHei",Verdana,Arial,"simsun","ËÎÌå","Microsoft Sans Serif", "Microsoft Tai Le", "Microsoft Uighur";
	font-size:13px;
 }
 #rssMin div{
 margin-left:30px;
 font-size:14px;
 line-height:21px;
 }
 #rssBottom{
 	background-image:url(../imgs/rssBottom.png);
	width:246px;
	height:52px;
 }
  #rssBottom .button{
	background: url(../imgs/Bottom.png) no-repeat;
	height: 23px;
	width:46px;
	position:relative;
	top:15px;
	cursor: pointer;
}
.rssNew{
	width:246px;
	display:none;
	position: absolute;
	top:-18px;
	left:55px;
	z-index:1000;
}
#rssSetting{
	width: 50px;
	height: 50px;
	position:absolute;
	left: 50px;
	top:-3px;
}
#todaySchedule{
	background:url(../imgs/todaybg.png);
	display:none;
	width: 268px;
	height: 200px;
	border-right:#cccccc 1px solid;
	position: relative;
}
#todaySda{
	background-image: url(../imgs/todayShe.png);
	width: 18px;
	height: 21px;
	OUTLINE-STYLE: none;
	FLOAT: right;
	CURSOR: pointer; 
	-moz-user-select: none; 
	-webkit-user-select: none;
}
a.main-Schedule-title {
	display: block;
	text-align: center;
	text-decoration: none;
	color: #3996cb;
	overflow: hidden;
	text-overflow: ellipsis;
	border-bottom: #000000 1px dotted;
}
a.main-Schedule-title:hover {
	text-decoration: underline;
	color: #5959FF;
}

a.main-Schedule-content {
	font-size: 13px;
	display: block;
	height: 120px;
	margin-top: 10px;
	line-height: 18px;
	overflow: hidden;
	text-overflow: ellipsis;
	padding-bottom: 10px;
}
#yamcaozz{
	height: 80px;
}
#yamcaozz li{
	float: left;
	width: 60px;
	height: 80px;
	margin-left: 6px;
}
#yamcaozz li img{
	width: 60px;
	height: 80px;
	border: 0px;
}



#formsns .title {
	margin-left: 5px;
	margin-right:5px;
	color: #3996cb;
}

#formsns .content {
	padding: 10px;
}

#formsns .tab {
	width: 150px;
	height: 26px;
	background: url(../imgs/daiban-btn.png) no-repeat;
}
#formsns .tabfornew{
	width: 140px;
	height: 26px;
	background: url(../imgs/daiban-btnfornew.png) no-repeat;
}

#formsns .tab-btn {
	width: 56px;
	height: 17px;
	float: left;
	margin-top: 5px;
	margin-left: 7px;
	cursor: pointer;
	font-size: 12px;
	text-align: center;
	color: #FFF;;
}

#formsns .tab-btn:hover {
	background: #FFF;
	color: #000;
}

#formsns .tab-btn.active {
	background: #FFF;
	color: #000;
}

#formsns .spe {
	width: 1px;
	height: 17px;
	line-height: 15px;
	float: left;
	margin-left: 5px;
	margin-top: 5px;
	color: #FFF;
}

#formsns .showsnsmess{
	background:url('../imgs/xarrow.png') no-repeat 0px 6px;
}

#bsgk{
	width: 270px;
	height:180px;
}

#bsgk .bsgkul{
	width:250px;
	margin-left:10px;
	margin-top:10px;
}
#bsgk .bsgkli{
	width:250px;
	height:20px;
}
#bsgk .bsgkul .bsgkdate{
	width:40px;
	height:20px;
	display: block;
	float: left;
}
#bsgk .bsgkul .bsgksp{
	width:210px;
	height:20px;
	display: block;
	float: left;
}
#bsgk .bsgkul .bsgksp:hover{
	color:#3996cb;
	cursor: pointer;
}