<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE hibernate-configuration PUBLIC
"-//Hibernate/Hibernate Configuration DTD 3.0//EN"
"http://hibernate.sourceforge.net/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
        <property name="hibernate.bytecode.use_reflection_optimizer">false</property>
        <property name="hibernate.connection.driver_class">com.ibm.db2.jcc.DB2Driver</property>
        <property name="hibernate.connection.password">db2inst1</property>
        <property name="hibernate.connection.url">jdbc:db2://10.36.98.232:50000/v6db</property>
        <property name="hibernate.connection.username">db2inst1</property>
        <property name="hibernate.dialect">org.hibernate.dialect.DB2Dialect</property>
        <property name="hibernate.search.autoregister_listeners">false</property>
        <property name="current_session_context_class">thread</property> 
        <property name="show_sql">true</property>
        <mapping resource="com/blogzhou/entity/PubOrgan.hbm.xml" />
        <mapping resource="com/blogzhou/entity/PubStruType.hbm.xml" />
        <mapping resource="com/blogzhou/entity/PubStruExt.hbm.xml" />
        <mapping resource="com/blogzhou/entity/PubOrganType.hbm.xml" />
        <mapping resource="com/blogzhou/entity/PubStru.hbm.xml" />
    </session-factory>
</hibernate-configuration>
