
body{
	font-family:'微软雅黑','宋体',Verdana, Geneva, sans-serif;
	font-size:13px;
}

#rc-main{
	width:100%;
	float:left;
}
#search-box{
	width:500px;
	height:100px;
	margin:20px auto 0;
}
#search-label{
	float:left;
	font-size:16px;
	line-height:27px;
}
#search-bg{
	width:300px;
	border:#ccc 1px solid;
	float:left;
	padding-top:6px;
	padding-bottom:4px;
	padding-left:2px;
	
}
#search-input{
	width:90%;
	font-size:17px;
	border:none;
}
#search-btn{
	display:block;
	width:54px;
	height:27px;
	float:left;
	margin-left:10px;
	background:url(../../img/rc/rc-search.png) no-repeat;
	cursor:pointer;
	margin-top:2px;
}
#search-btn.onclick{
	background:url(../../img/rc/rc-search2.png) no-repeat;
}
.bd-box{
	width:700px;
	min-height:100px;
	margin:0 auto;
	background:#f4f4f4;
	padding-bottom:20px;
}
.bd-box .title{
	height:30px;
}
.bd-box .title span{
	display:block;
	width:100px;
	float:left;
	margin-top:5px;
	text-align:center;
	line-height:25px;
	background:#0066FF;
	color:#fff;
}
.item{
	display:block;
	line-height:30px;
	width:200px;
	padding-left:10px;
	text-align:left;
	background:#FFFFFF;
	float:left;
	margin-left:10px;
	margin-top:20px;
	border:#CCC 1px solid;
}
.item .text{
	display:inline-block;
	max-width:175px;
	white-space:nowrap;
	text-overflow:ellipsis;
	overflow:hidden;
	text-decoration:none;
}
.item .text:hover{
	text-decoration:underline;
}
.item .del-btn{
	float:right;
	width:10px;
	height:10px;
	margin-right:5px;
	margin-top:10px;
	background:url(../../img/rc/rc-delete.png) 50% no-repeat;
	display:none;
	cursor:pointer;
}
.item .del-btn:hover{
	border:#EA0000 1px solid;
}
.item:hover .del-btn{
	display:block;
}